// Header starts
header
  .container
    .row
      .col-md-4.col-sm-4
        // Logo and site link
        .logo
          h1
            a(href='/')
              | Mailzee
              span.color .
              | com
      .col-md-8.col-sm-8
          if user
            .profil
              if user.profile.picture
                img(src='#{user.profile.picture}')
              else
                img(src='#{user.gravatar(60)}')
              | Welcome #{user.profile.name || user.email || user.id} !
// / Header ends
// Navigation Starts
// Note down the syntax before editing. It is the default twitter bootstrap navigation
.navbar.bs-docs-nav(role='banner')
  .container
    .navbar-header
      button.navbar-toggle(type='button', data-toggle='collapse', data-target='.bs-navbar-collapse')
        span.sr-only Toggle navigation
        span.icon-bar
        span.icon-bar
        span.icon-bar
    nav.collapse.navbar-collapse.bs-navbar-collapse(role='navigation')
      // Navigation links starts here
      ul.nav.navbar-nav(style='width:100%')
        li(class=title=='Home'?'active':undefined).dropdown
          a(href='/')
            i.fa.fa-home
            | Home 

        if user
          li.dropdown(class=title=='Account Management'?'active':undefined).menu-right
            a.dropdown-toggle(href='#', data-toggle='dropdown')
              i.fa.fa-user
              | My account 
              i.caret
            ul.dropdown-menu
              li
                a(href='/account') 
                  i.fa.fa-list
                  | My Account
              li.divider
              li
                a(href='/logout') 
                  i.fa.fa-sign-in 
                  | Logout
        else
          li(class=title=='Login'?'active':undefined).dropdown.menu-right
            a.dropdown-toggle(href='/login') 
              i.fa.fa-sign-in
              | Login 
          li(class=title=='Create Account'?'active':undefined).dropdown.menu-right
            a.dropdown-toggle(href='/signup')
              i.fa.fa-user-plus
              | Create account 
              
          
        if user
          li(class=title=='Mailbox'?'active':undefined).dropdown.menu-right
            a.dropdown-toggle(href='/mailbox/list', data-toggle='dropdown')
              i.fa.fa-envelope-o
              | Mailbox 
              b.caret
            // Submenus
            ul.dropdown-menu
              li
                a(href='/mailbox/list') List
              
        
