ul.nav.nav-pills.nav-stacked
  li(role="presentation",class=subtitle=='Notifications'?'active':undefined)
    a(href="/mailbox/#{mailbox.id}/notifications") List notifications
  li(role="presentation",class=subtitle=='Edit'?'active':undefined)
    a(href="/mailbox/#{mailbox.id}/edit") Edit Mailbox
  li(role="presentation")
    form.form-horizontal(id='mailbox-remove-form', action="/mailbox", method='POST')
      input(type='hidden', name='_csrf', value=_csrf)
      input(type='hidden', name='_method', value="delete")
      input(type='hidden', name='id', value="#{mailbox._id}")
    a(role="menuitem", tabindex="-1", type='submit', onclick='$( "#mailbox-remove-form" ).submit()').remove-mailbox-button Delete Mailbox
