extends ../layout

block content
  .row
    if !user.mailboxes
      center
        p.lead No mailbox registered on your account. Add one by clicking on the button below.
    else
      ul
        each mailbox in user.mailboxes
          .panel.panel-primary.mailbox-item(onclick='window.location="/mailbox/#{mailbox._id}/notifications"')
            .panel-heading
                h3(class='panel-title') #{mailbox.name}
                          
            .panel-body
              p Mailbox ID : #{mailbox._id}
              p Mailbox Device Type : #{mailbox.deviceType}
              p Mailbox name : #{mailbox.name}
              p Mailbox Device ID : #{mailbox.deviceId}
              p Mailbox Sigfox ID : #{mailbox.sigfoxId}
              
    center          
      a(href='/form-add-mailbox')
        button.btn.btn-success
          i.fa.fa-plus
          | Attach a new mailbox
