extends ../layout

block content
  .row.row-offcanvas-left
    .col-xs-12.col-sm-3.sidebar-offcanvas
      include layout/menu
      
    .col-xs-12.col-sm-9
      .list-group
        each notification in mailbox.notifications
          div.list-group-item(href="#").notification-item
              if notification.type == "sms"
                i.fa.fa-mobile.pull-left.fa-3x
                h4.list-group-item-heading SMS
                p.list-group-item-text Tel : #{notification.phone_number}
              if notification.type == "email"
                i.fa.fa-envelope.pull-left.fa-2x
                h4.list-group-item-heading Email
                p.list-group-item-text Email : #{notification.email}
              if notification.type == "gcm"
                i.fa.fa-mobile.pull-left.fa-3x
                h4.list-group-item-heading GCM
                p.list-group-item-text GCM : #{notification.gcm_id}
              if notification.type == "chrome"
                i.fa.fa-mobile.pull-left.fa-3x
                h4.list-group-item-heading GCM
                p.list-group-item-text GCM : #{notification.gcm_id}
                
            div.dropdown.pull-right.notification-dropdown
              button.btn.btn-default.dropdown-toggle(type="button", id="dropdownMenu1", data-toggle="dropdown", aria-expanded="true") Action 
                span.caret   
              ul.dropdown-menu(role="menu")
                li(role="presentation")
                  a(role="menuitem", href="#") 
                    i.fa.fa-stop
                    | Disable notification
                  form.form-horizontal(id='mailbox-form', action="/mailbox/notification", method='POST')
                    input(type='hidden', name='_csrf', value=_csrf)
                    input(type='hidden', name='_method', value="delete")
                    input(type='hidden', name='id', value="#{mailbox._id}")
                    input(type='hidden', name='id_notification', value="#{notification._id}")
                  a(role="menuitem", href="#", tabindex="-1", type='submit', onclick='$( "#mailbox-form" ).submit()') 
                    i.fa.fa-trash
                    | Remove Notification
      
      hr
      .col-xs-12.col-md-12.col-md-offset-5.col-xs-offset-5
        div.dropdown
          button.btn.btn-default.dropdown-toggle(type="button", id="dropdownMenu1", data-toggle="dropdown", aria-expanded="true") 
            i.fa.fa-plus
            | Add a notification 
            span.caret   
          ul.dropdown-menu(role="menu")
            li(role="presentation")
              a(role="menuitem", href="/mailbox/#{mailbox._id}/notification/sms") 
                i.fa.fa-mobile.fa-lg
                |  Add an SMS notification
              a(role="menuitem", href="/mailbox/#{mailbox._id}/notification/email")
                i.fa.fa-envelope
                | Add an Email notification
              a(role="menuitem", href="/mailbox/#{mailbox._id}/notification/gcm")
                i.fa.fa-mobile.fa-lg
                | Add a GCM notification
              a(role="menuitem", href="/mailbox/#{mailbox._id}/notification/chrome")
                i.fa.fa-mobile.fa-lg
                | Add a Chrome notification
              //- form.form-horizontal(id='mailbox-form', action="/mailbox/notification/chrome", method='POST')
              //-   input(type='hidden', name='_csrf', value=_csrf)
              //-   input(type='hidden', name='id', value="#{mailbox._id}")
              //-   input(type='hidden', name='gcm_id', value="#{notification._id}")
              //- a(role="menuitem", href="#", tabindex="-1", type='submit', onclick='$( "#mailbox-form" ).submit()') 
              //-   i.fa.fa-trash
              //-   | Add a Chrome notification
